.title-pg{
    font-size: 2em;
    font-weight: 900;
    text-transform: uppercase;
}

.edit{

background: #57a0d4;
}
.delete{

background: #e02525;
}
.actions{
    padding: 6px;
    color: white;
    text-decoration: none;
    font-size: 1em;
    margin: 0px 2px;
}
.actions:hover{
    text-decoration: none;
    color: white;
}
.btn-add{
    margin-bottom: 10px;
}